body{
    background-image: linear-gradient(to right , #c33ec3 0%, #4987e9 100%);
}

#top{
    text-align: center;
}

#top h1{
    font-family: 'Fipps', sans-serif;
    font-size: 30px;
    margin-top: -10px;
    text-align: center;
}

#top p{
    font-size: 18px;
    font-family: 'Consolas', sans-serif;
    margin-bottom: -15px;
    margin-top: -10px;
}

#top h3{
    font-size: 20px;
    font-family: 'Consolas', sans-serif;
}

#bottom{
    font-size: 30px;
    font-family: 'Consolas', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
}

#bottom div{
    align-self: center;
}

#star{
    background-image: url(images/star.png);
}

#cases div{
    background-color: white;
    border: solid black 4px;
    margin: -2px;
    height: 170px;
    width: 170px;
    text-align: center;
    display: grid;
    place-items: center;
    transition-duration: 0.5s;
}

#cases div:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

#cases{
    width: 680px;
    text-align: center;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0px;
    justify-items: stretch;
    font-size: 25px;
    font-family: 'Consolas', sans-serif;
}

.lesCases{
    cursor: pointer;
}

#bottom button {
    display: inline-block;
    padding: 15px 25px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #373737;
    background-color: rgb(255, 198, 91);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    align-self: center;
}

#bottom button:hover {background-color: orange}

#bottom button:active {
    background-color: orange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#BINGO{
    display: none;
    position: fixed;
    background-color: rgba(255, 0, 0, 0.404);
    text-align: center;
    font-size: 200px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade 2s linear;
    font-family: 'Fipps', sans-serif;
}

#BINGO div{
    text-align: center;
    width: 100%;
    align-self: center;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  20%,80% { opacity: 1 }
}

#Etoile{
    display: none;
    position: fixed;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 5px rgb(94, 94, 255);
    font-size: 70px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade 2s linear;
    font-family: 'Rubik Bubbles', sans-serif;
}

#Etoile div{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

#menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: auto;
}

#menu button{
    text-decoration: none;
    padding: 10px;
    border: solid 2px white;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition-duration: 0.1s;
    cursor: pointer;
}

#menu button:hover{
    color: black;
    background-color: white;
    transition-duration: 0.1s;
}

/*//////////////////////////////////////////////////////*/

#adminPage{
    display: none;
}

body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
#authForm{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
#authForm *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#authForm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
#authForm input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

#authForm button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#menu{
    position: absolute;
    right: 0;
    margin: 10px;
    width: auto;
}

#menu button{
    text-decoration: none;
    padding: 10px;
    border: solid 2px white;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition-duration: 0.1s;
    cursor: pointer;
}

#menu button:hover{
    color: black;
    background-color: white; 
    transition-duration: 0.1s;
}

#secretContent{
    display: none;
    width: 1000px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 15px 35px;
    color: white;
}

#secretContent #infos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: x-large;
    margin-right: 62px;
    padding-bottom: 5px;
}

#secretContent #champs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#secretContent #champs div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

#secretContent button{
    margin-top: 15px;
    width: 70%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#saveInfos{
    background-color: rgb(0, 255, 0) !important;
    transition-duration: 0.1s;
}

#signOutButton{
    background-color: rgb(164, 0, 0) !important;
    transition-duration: 0.1s;
}

.champsTexte{
    width: 70%;
    height: 30px;
}

.numberCase{
    width: 15%;
}

.radioButton{
    width: 15%;
}

#secretContent h1{
    margin-bottom: 25px;
}

#boutons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#boutons button{
    width: 30%;
}

#boutons button:hover{
    color: white;
    transition-duration: 0.1s;
}

.numberCase{
    font-size: large;
}